[submodule "pack/mypack/start/vim-airline"]
	path = pack/mypack/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/mypack/start/vim-gutentags"]
	path = pack/mypack/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/mypack/start/YouCompleteMe"]
	path = pack/mypack/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/mypack/start/vim-airline-themes"]
	path = pack/mypack/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/mypack/start/nerdtree"]
	path = pack/mypack/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
